body{
    background-color: rgb(5, 61, 117);
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.heading{
    
    margin-top:10px;

}
.p1{
    color: white;
    font-size: 30px;
    margin-left: 160px;
    margin-right: auto;
    
}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
    background-color: rgb(253, 253, 253);
}
button:hover {
    color: #011301;
}
footer{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-left: 150px;
    margin-right: auto;
}

